html, body {
  margin: 0 auto;
  height: 100%;
  // max-width: 90%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #a9b1bd;
}

a:-webkit-any-link {
  text-decoration: none;
}

hr {
  background-color: #d6dbe4 !important;
  margin: 0 !important;
}

// .page-container {
//   width: 90vw;
//   flex: 1 0 auto;
// }

// .home-button {
//   background-color: transparent;
//   border-color: white;
// }

// .home-button:hover {
//   background-color: white;
//   border-color: transparent;
//   color: rgb(214, 41, 107);
// }

// .card-button {
//   background-color: white;
//   border-color: black;
//   color: black;
//   font-size: 10px;
// }

// .card-button:hover {
//   background-color: rgb(214, 41, 107);
//   color: white;
//   border-color: rgb(214, 41, 107);
// }

// .p-colour {
//   color: white;
// }